{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": false
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "import", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "prettier"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts", ".json"]
            }
        }
    },
    "env": {
        "es6": true,
        "browser": false,
        "node": true,
        "jquery": false,
        "jest": true
    },
    "rules": {
        "quotes": "warn",
        "no-console": "warn",
        "no-debugger": "warn",
        "no-var": "error",
        "no-trailing-spaces": "warn",
        "eol-last": "warn",
        "no-underscore-dangle": "off",
        "no-alert": "error",
        "no-lone-blocks": "off",
        "import/extensions": ["warn", { "json": "always" }],
        "import/no-named-as-default": "warn",
        "prettier/prettier": "error"
    },
    "globals": {}
}
